<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link href="/css/bootstrap-glyphicons.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Hachiko Project</h3>
      </div>

      <ul class="list-unstyled components">
        <p>Hachiko Project</p>
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><%= __('home')%></a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a href="#">Home 1</a></li>
            <li><a href="#">Home 2</a></li>
            <li><a href="#">Home 3</a></li>
          </ul>
        </li>
        <li>
          <a href="https://github.com/tranphuquy19/hachiko_project" target="_blank"><%= __('about')%></a>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><%= __('page')%></a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </li>
        <li>
          <a href="https://github.com/tranphuquy19/hachiko_project/wiki" target="_blank"><%= __('docs')%></a>
        </li>
        <li>
          <a href="https://github.com/tranphuquy19" target="_blank"><%= __('contact')%></a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <li><i class="fab fa-facebook-square"></i><a href="https://fb.com/tranphuquy19" class="article" target="_blank"><%= __('fbContact')%></a></li>
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
              <i class="glyphicon glyphicon-align-left"></i>
              <span><%= __('toggleSidebar')%></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
              <li><a href="#">Page</a></li>
            </ul>
          </div>
        </div>
      </nav>


      <div class="line"></div>

      <h3>Lorem Ipsum Dolor</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/app.js"></script>
</body>

</html>